#main-home {
    margin: 0;
    
}

#section-um {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5% 10%;
    width: 100vw;
    

    font-family: 'Poppins', sans-serif;
    font-style: normal;

    background: #E0F2F0;
}

#section-um-infos {
    padding-right: 10%;
    padding-top: 5%;
    

}

#section-um-infos h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    font-weight: 700;
    margin: 0px 0;
    height: 125px;

    letter-spacing: 1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #007A68;

    
}

#section-um-infos p {
    position: static;
    width: 448px;
    height: 144px;
    left: 0px;
    top: 240px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    letter-spacing: 0.2px;
    font-feature-settings: 'pnum' on, 'lnum' on;


    color: #E86B2B;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px

}

#section-um-infos button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 36px;
    border: #E86B2B;

    margin: 5px 0;

    position: static;
    width: 385px;
    height: 56px;
    left: 0px;
    top: 408px;

    /* Base Primária/laranja.800 */

    background: #E86B2B;
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FFFFFF;
}
#section-um-infos button:hover, #section-um-infos a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration: none;
}

#section-um-img img{
    width: 510px;
    padding-right: 20px;
}
#section-um-final {
    padding-top: 50px;
}

#section-um-final img {
    width: 147px;
}
#section-um-final p {
    padding-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#section-dois {
    background-color: #FFFFFF;
    /* H2 */
    font-family:  'Poppins', sans-serif;
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    padding: 120px 160px;

}

#section-dois h3 {
    font-weight: bold;
    font-size: 39.81px;
    line-height: 48px;
    /* identical to box height, or 121% */

    /* text-align: left; */

    /* Base Primária/verde.700 */

    color: #007A68;
     
}

#section-dois p {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    margin: 60px 0;
    padding-right: 320px;

    letter-spacing: 0.2px;
    color: #474747;

}

.div-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 16px 36px; */
    width:545px;
    height: 56px;
    margin: 0 25%;
    

    /* Base Primária/verde.700 */

    background: #007A68;
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    /* text-align: center; */
    

}

.btn-green a:hover {
    text-decoration: none;
    box-shadow: 0 #007A68;
     
}
.div-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.btn-green {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    background-color: transparent;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin:  0px;
    border: 0px solid #007A68;
    

}
.btn-green a{
    color:#FFFFFF;
}
.btn-green a:visited {
    color:#FFFFFF;
}

i {
    padding-left: 15px;
   
}


#section-tres {
    background-color: #029784;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 120px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* branco */

    color: #FFFFFF;
}

#section-tres h3 {

    font-weight: bold;
    font-size: 39.81px;
    line-height: 48px;
    /* identical to box height, or 121% */
    display: flex;
    align-items: flex-end;
    
}

#dados-flourish {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0px;

    position: static;
    width: 1121px;
    height: 154px;
    left: 160px;
    top: 236px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 68px 0px;

}
.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 16px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

}
.dados i {
    font-size: 30px;
    margin: 4px 15px 4px 0;

}
.dados p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width:230px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.2px;
    /* display:flex;
    justify-content:center; */
}

#outros-animais {
    margin: 0px;
}

#all, #dogs, #cats, #other {
    width: 100px;
    height: 184px;

}

#section-quatro {
    background: #E0F2F0;
    padding: 120px 120px;
    

}

#section-quatro p {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 70px 0;

    letter-spacing: 0.2px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* cinza.dark */

    color: #474747;
}

#section-cinco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 120px;

   
    /* position: static;
    width: 1441px;
    height: 1369px;
    left: 0px;
    top: 3059px; */

    /* branco */

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 0px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;

}

#section-cinco h3 {
    font-weight: bold;
    font-size: 39.81px;
    line-height: 48px;
    color: #007A68;
}
#section-cinco img {
    padding: 0px 0 30px;
    position: static;
    height: 527px;
    left: 160px;
    top: 236px;
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 68px 0px;
}
#section-cinco p {
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    padding-right: 50px;

    letter-spacing: 0.2px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* cinza.dark */

    color: #474747;
}

#lista {
    padding-left: 58px;
    padding-bottom: 50px;

}

#lista h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Base Primária/verde.700 */

    color: #007A68;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    
}

#lista i {
    color: #007A68;
    padding-right: 15px;
}

#section-seis {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 120px;
    width: 100vw;
    margin: 0;

    position: static;
    width: 1441px;
    height: 1172px;
    left: 0px;
    top: 4428px;

    /* Verde Primária - Variações/verde.50 */

    background: #E0F2F0;
}

#section-seis-header {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 68px -10px;

}

#section-seis-header h3 {

    font-weight: bold;
    font-size: 39.81px;
    line-height: 48px;
    /* identical to box height, or 121% */

    display: flex;
    align-items: flex-end;
    /* Base Primária/verde.700 */

    color: #007A68;
}

#section-seis-header p {

    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding-top: 38px;
    /* identical to box height, or 120% */

    letter-spacing: 0.2px;

    /* cinza.dark */

    color: #474747;
}


#section-seis-videos {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    /* row-gap: 0px; */
    justify-content: center;
    align-items: center;
    margin-left: 390px;
    margin-top: -50px;

    position: static;
   
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */

    /* flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 34px; */
}

#section-seis-videos iframe {
    width: 353px;
    height: 200px;

}

#entrevista-2 {
    margin-top: -20px;
    
}
#entrevista-3 {
    margin-top: 35px;
    
}
#entrevista-5{
    margin-top: 65px;
}